<div class = "body">
    <h2>Manage Books</h2>
    <ul class="book-list">
        <li *ngFor="let book of bookList">
            <div class="book-card">
                <div class="book-image">
                    <img [src]="book.img" width="120px" height="180px"/>
                </div>
                <div class="book-detail">
                    <div class="book-name">{{book.name}}</div> 
                    <div class="book-author">{{book.author}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>